@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@700;800&display=swap');
@import "tailwindcss";
@theme {
  --color-institucional-blue: #1F4E79; /* [cite: 4] */
  --color-secondary-blue: #2F6FA3;     /* [cite: 7] */
  --color-main-green: #3FA34D;         /* [cite: 10] */
  --color-soft-green: #6BCB77;         /* [cite: 13] */
  --color-dark-gray: #4A4A4A;          /* [cite: 17] */
  --color-light-gray: #E5E7EB;         /* [cite: 23] */
  --color-white-main: #FFFFFF;         /* [cite: 26] */

  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}