@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@700;800&display=swap');
@import "tailwindcss";
@theme {
  --color-institucional-blue: #1F4E79; 
  --color-secondary-blue: #2F6FA3;    
  --color-main-green: #3FA34D;         
  --color-soft-green: #6BCB77;         
  --color-dark-gray: #4A4A4A;        
  --color-light-gray: #E5E7EB;         
  --color-white-main: #FFFFFF;         

  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}